--
-- PostgreSQL database dump
--

\restrict PyPcntUWiaELc0J0pz0jgc716d2nhDB8LqPaZIO0GdVThYIQfJy1mbekFV01pFu

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agenda_agendamento; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.agenda_agendamento (
    id bigint NOT NULL,
    titulo character varying(200) NOT NULL,
    data_hora_inicio timestamp with time zone NOT NULL,
    data_hora_fim timestamp with time zone NOT NULL,
    notas_agendamento text,
    status character varying(20) NOT NULL,
    criado_em timestamp with time zone NOT NULL,
    atualizado_em timestamp with time zone NOT NULL,
    paciente_id bigint NOT NULL,
    profissional_id bigint NOT NULL,
    servico_id bigint,
    lembrete_enviado boolean NOT NULL,
    token_confirmacao uuid NOT NULL,
    follow_up_enviado boolean NOT NULL
);


ALTER TABLE public.agenda_agendamento OWNER TO atma_user;

--
-- Name: agenda_agendamento_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.agenda_agendamento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.agenda_agendamento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: agenda_excecaohorario; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.agenda_excecaohorario (
    id bigint NOT NULL,
    data date NOT NULL,
    dia_inteiro boolean NOT NULL,
    hora_inicio time without time zone,
    hora_fim time without time zone,
    descricao character varying(255) NOT NULL,
    profissional_id bigint NOT NULL
);


ALTER TABLE public.agenda_excecaohorario OWNER TO atma_user;

--
-- Name: agenda_excecaohorario_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.agenda_excecaohorario ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.agenda_excecaohorario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: agenda_horariotrabalho; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.agenda_horariotrabalho (
    id bigint NOT NULL,
    dia_da_semana integer NOT NULL,
    hora_inicio time without time zone NOT NULL,
    hora_fim time without time zone NOT NULL,
    ativo boolean NOT NULL,
    profissional_id bigint NOT NULL
);


ALTER TABLE public.agenda_horariotrabalho OWNER TO atma_user;

--
-- Name: agenda_horariotrabalho_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.agenda_horariotrabalho ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.agenda_horariotrabalho_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: agenda_logmensagemia; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.agenda_logmensagemia (
    id bigint NOT NULL,
    data_envio timestamp with time zone NOT NULL,
    sid_twilio character varying(255) NOT NULL,
    assinatura_id bigint NOT NULL
);


ALTER TABLE public.agenda_logmensagemia OWNER TO atma_user;

--
-- Name: agenda_logmensagemia_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.agenda_logmensagemia ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.agenda_logmensagemia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO atma_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO atma_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO atma_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO atma_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO atma_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO atma_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO atma_user;

--
-- Name: documentos_documento; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.documentos_documento (
    id bigint NOT NULL,
    descricao character varying(255) NOT NULL,
    arquivo character varying(100) NOT NULL,
    data_upload timestamp with time zone NOT NULL,
    paciente_id bigint NOT NULL,
    profissional_id bigint
);


ALTER TABLE public.documentos_documento OWNER TO atma_user;

--
-- Name: documentos_documento_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.documentos_documento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.documentos_documento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: financas_servico; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.financas_servico (
    id bigint NOT NULL,
    nome_servico character varying(100) NOT NULL,
    descricao text,
    duracao_padrao integer NOT NULL,
    valor_padrao numeric(10,2) NOT NULL,
    ativo boolean NOT NULL,
    profissional_id bigint NOT NULL
);


ALTER TABLE public.financas_servico OWNER TO atma_user;

--
-- Name: financas_servico_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.financas_servico ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.financas_servico_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: financas_transacao; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.financas_transacao (
    id bigint NOT NULL,
    valor_cobrado numeric(10,2) NOT NULL,
    status character varying(20) NOT NULL,
    metodo_pagamento character varying(50),
    data_pagamento date,
    notas text,
    data_criacao timestamp with time zone NOT NULL,
    agendamento_id bigint,
    paciente_id bigint NOT NULL,
    profissional_id bigint NOT NULL,
    servico_prestado_id bigint NOT NULL,
    data_transacao date NOT NULL,
    lembrete_pagamento_enviado boolean NOT NULL
);


ALTER TABLE public.financas_transacao OWNER TO atma_user;

--
-- Name: financas_transacao_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.financas_transacao ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.financas_transacao_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: prontuario_entradaprontuario; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.prontuario_entradaprontuario (
    id bigint NOT NULL,
    data_hora timestamp with time zone NOT NULL,
    evolucao text NOT NULL,
    agendamento_associado_id bigint,
    paciente_id bigint NOT NULL,
    profissional_id bigint
);


ALTER TABLE public.prontuario_entradaprontuario OWNER TO atma_user;

--
-- Name: prontuario_entradaprontuario_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.prontuario_entradaprontuario ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.prontuario_entradaprontuario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_assinatura; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.users_assinatura (
    id bigint NOT NULL,
    ativa boolean NOT NULL,
    data_inicio date NOT NULL,
    data_fim date,
    profissional_id bigint NOT NULL,
    plano_id bigint NOT NULL
);


ALTER TABLE public.users_assinatura OWNER TO atma_user;

--
-- Name: users_assinatura_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.users_assinatura ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_assinatura_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_paciente; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.users_paciente (
    id bigint NOT NULL,
    nome_completo character varying(255) NOT NULL,
    data_nascimento date,
    cpf character varying(14),
    contato_telefone character varying(20),
    email character varying(255),
    endereco text,
    data_cadastro timestamp with time zone NOT NULL,
    cadastrado_por_id bigint,
    dia_cobranca integer,
    conversation_state character varying(50)
);


ALTER TABLE public.users_paciente OWNER TO atma_user;

--
-- Name: users_paciente_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.users_paciente ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_paciente_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_plano; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.users_plano (
    id bigint NOT NULL,
    nome character varying(50) NOT NULL,
    limite_usuarios integer NOT NULL,
    limite_mensagens_ia integer NOT NULL,
    preco_mensal numeric(10,2) NOT NULL,
    CONSTRAINT users_plano_limite_mensagens_ia_check CHECK ((limite_mensagens_ia >= 0)),
    CONSTRAINT users_plano_limite_usuarios_check CHECK ((limite_usuarios >= 0))
);


ALTER TABLE public.users_plano OWNER TO atma_user;

--
-- Name: users_plano_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.users_plano ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_plano_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_profissional; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.users_profissional (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL,
    nome_completo character varying(255) NOT NULL,
    especialidade character varying(100),
    registro_profissional character varying(50),
    contato_telefone character varying(20)
);


ALTER TABLE public.users_profissional OWNER TO atma_user;

--
-- Name: users_profissional_groups; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.users_profissional_groups (
    id bigint NOT NULL,
    profissional_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_profissional_groups OWNER TO atma_user;

--
-- Name: users_profissional_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.users_profissional_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_profissional_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_profissional_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.users_profissional ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_profissional_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_profissional_user_permissions; Type: TABLE; Schema: public; Owner: atma_user
--

CREATE TABLE public.users_profissional_user_permissions (
    id bigint NOT NULL,
    profissional_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_profissional_user_permissions OWNER TO atma_user;

--
-- Name: users_profissional_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: atma_user
--

ALTER TABLE public.users_profissional_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_profissional_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: agenda_agendamento; Type: TABLE DATA; Schema: public; Owner: atma_user
--



--
-- Data for Name: agenda_excecaohorario; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.agenda_excecaohorario (id, data, dia_inteiro, hora_inicio, hora_fim, descricao, profissional_id) FROM stdin;
1	2025-10-01	t	\N	\N	Particular	1
\.


--
-- Data for Name: agenda_horariotrabalho; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.agenda_horariotrabalho (id, dia_da_semana, hora_inicio, hora_fim, ativo, profissional_id) FROM stdin;
2	1	09:00:00	22:00:00	t	1
4	2	09:00:00	22:00:00	t	1
3	3	09:00:00	22:00:00	t	1
1	0	09:00:00	22:00:00	t	1
\.


--
-- Data for Name: agenda_logmensagemia; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.agenda_logmensagemia (id, data_envio, sid_twilio, assinatura_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: atma_user
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	users	profissional
7	users	paciente
8	agenda	agendamento
9	prontuario	entradaprontuario
10	documentos	documento
11	financas	servico
12	financas	transacao
13	agenda	excecaohorario
14	agenda	horariotrabalho
15	users	plano
16	users	assinatura
17	agenda	logmensagemia
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: atma_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: documentos_documento; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.documentos_documento (id, descricao, arquivo, data_upload, paciente_id, profissional_id) FROM stdin;
\.


--
-- Data for Name: financas_servico; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.financas_servico (id, nome_servico, descricao, duracao_padrao, valor_padrao, ativo, profissional_id) FROM stdin;
1	Terapia presencial		50	150.00	t	1
\.


--
-- Data for Name: financas_transacao; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.financas_transacao (id, valor_cobrado, status, metodo_pagamento, data_pagamento, notas, data_criacao, agendamento_id, paciente_id, profissional_id, servico_prestado_id, data_transacao, lembrete_pagamento_enviado) FROM stdin;
\.


--
-- Data for Name: prontuario_entradaprontuario; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.prontuario_entradaprontuario (id, data_hora, evolucao, agendamento_associado_id, paciente_id, profissional_id) FROM stdin;
\.


--
-- Data for Name: users_assinatura; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.users_assinatura (id, ativa, data_inicio, data_fim, profissional_id, plano_id) FROM stdin;
\.


--
-- Data for Name: users_paciente; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.users_paciente (id, nome_completo, data_nascimento, cpf, contato_telefone, email, endereco, data_cadastro, cadastrado_por_id, dia_cobranca, conversation_state) FROM stdin;
2	Fulano da Silva	2000-01-02	123.456.789-10	(11) 98765-4321	fulano@teste.com		2025-09-14 18:26:00.491921+00	1	\N	\N
1	Nilson Carvalho de Moraes	\N	298.324.818-64	(11) 93310-7767	nilson.proj@gmail.com	Rua Maestro Laurindo Jos├® Gon├ºalves\n27	2025-09-13 15:48:55.631266+00	1	10	\N
\.


--
-- Data for Name: users_plano; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.users_plano (id, nome, limite_usuarios, limite_mensagens_ia, preco_mensal) FROM stdin;
\.


--
-- Data for Name: users_profissional; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.users_profissional (id, password, last_login, is_superuser, first_name, last_name, is_staff, is_active, date_joined, email, nome_completo, especialidade, registro_profissional, contato_telefone) FROM stdin;
1	pbkdf2_sha256$720000$wNTyZRKnSw96skuVeJwgxq$t6gkmFvr7XBkqV8G0HwQeNb38q9u08XQbEdMbmoPNRM=	\N	t			t	t	2025-09-13 15:47:50.251157+00	nilson@teste.com	nilson moraes	\N	\N	\N
\.


--
-- Data for Name: users_profissional_groups; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.users_profissional_groups (id, profissional_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_profissional_user_permissions; Type: TABLE DATA; Schema: public; Owner: atma_user
--

COPY public.users_profissional_user_permissions (id, profissional_id, permission_id) FROM stdin;
\.


--
-- Name: agenda_agendamento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.agenda_agendamento_id_seq', 14, true);


--
-- Name: agenda_excecaohorario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.agenda_excecaohorario_id_seq', 1, true);


--
-- Name: agenda_horariotrabalho_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.agenda_horariotrabalho_id_seq', 4, true);


--
-- Name: agenda_logmensagemia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.agenda_logmensagemia_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 68, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 17, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 38, true);


--
-- Name: documentos_documento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.documentos_documento_id_seq', 1, false);


--
-- Name: financas_servico_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.financas_servico_id_seq', 1, true);


--
-- Name: financas_transacao_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.financas_transacao_id_seq', 1, false);


--
-- Name: prontuario_entradaprontuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.prontuario_entradaprontuario_id_seq', 1, false);


--
-- Name: users_assinatura_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.users_assinatura_id_seq', 1, false);


--
-- Name: users_paciente_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.users_paciente_id_seq', 2, true);


--
-- Name: users_plano_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.users_plano_id_seq', 1, false);


--
-- Name: users_profissional_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.users_profissional_groups_id_seq', 1, false);


--
-- Name: users_profissional_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.users_profissional_id_seq', 1, true);


--
-- Name: users_profissional_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: atma_user
--

SELECT pg_catalog.setval('public.users_profissional_user_permissions_id_seq', 1, false);


--
-- Name: agenda_agendamento agenda_agendamento_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.agenda_agendamento
    ADD CONSTRAINT agenda_agendamento_pkey PRIMARY KEY (id);


--
-- Name: agenda_agendamento agenda_agendamento_token_confirmacao_key; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.agenda_agendamento
    ADD CONSTRAINT agenda_agendamento_token_confirmacao_key UNIQUE (token_confirmacao);


--
-- Name: agenda_excecaohorario agenda_excecaohorario_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.agenda_excecaohorario
    ADD CONSTRAINT agenda_excecaohorario_pkey PRIMARY KEY (id);


--
-- Name: agenda_horariotrabalho agenda_horariotrabalho_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.agenda_horariotrabalho
    ADD CONSTRAINT agenda_horariotrabalho_pkey PRIMARY KEY (id);


--
-- Name: agenda_horariotrabalho agenda_horariotrabalho_profissional_id_dia_da_s_f8c0a0bb_uniq; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.agenda_horariotrabalho
    ADD CONSTRAINT agenda_horariotrabalho_profissional_id_dia_da_s_f8c0a0bb_uniq UNIQUE (profissional_id, dia_da_semana);


--
-- Name: agenda_logmensagemia agenda_logmensagemia_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.agenda_logmensagemia
    ADD CONSTRAINT agenda_logmensagemia_pkey PRIMARY KEY (id);


--
-- Name: agenda_logmensagemia agenda_logmensagemia_sid_twilio_key; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.agenda_logmensagemia
    ADD CONSTRAINT agenda_logmensagemia_sid_twilio_key UNIQUE (sid_twilio);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: documentos_documento documentos_documento_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.documentos_documento
    ADD CONSTRAINT documentos_documento_pkey PRIMARY KEY (id);


--
-- Name: financas_servico financas_servico_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.financas_servico
    ADD CONSTRAINT financas_servico_pkey PRIMARY KEY (id);


--
-- Name: financas_transacao financas_transacao_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.financas_transacao
    ADD CONSTRAINT financas_transacao_pkey PRIMARY KEY (id);


--
-- Name: prontuario_entradaprontuario prontuario_entradaprontuario_agendamento_associado_id_key; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.prontuario_entradaprontuario
    ADD CONSTRAINT prontuario_entradaprontuario_agendamento_associado_id_key UNIQUE (agendamento_associado_id);


--
-- Name: prontuario_entradaprontuario prontuario_entradaprontuario_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.prontuario_entradaprontuario
    ADD CONSTRAINT prontuario_entradaprontuario_pkey PRIMARY KEY (id);


--
-- Name: users_assinatura users_assinatura_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_assinatura
    ADD CONSTRAINT users_assinatura_pkey PRIMARY KEY (id);


--
-- Name: users_assinatura users_assinatura_profissional_id_key; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_assinatura
    ADD CONSTRAINT users_assinatura_profissional_id_key UNIQUE (profissional_id);


--
-- Name: users_paciente users_paciente_cpf_key; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_paciente
    ADD CONSTRAINT users_paciente_cpf_key UNIQUE (cpf);


--
-- Name: users_paciente users_paciente_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_paciente
    ADD CONSTRAINT users_paciente_pkey PRIMARY KEY (id);


--
-- Name: users_plano users_plano_nome_key; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_plano
    ADD CONSTRAINT users_plano_nome_key UNIQUE (nome);


--
-- Name: users_plano users_plano_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_plano
    ADD CONSTRAINT users_plano_pkey PRIMARY KEY (id);


--
-- Name: users_profissional users_profissional_email_key; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_profissional
    ADD CONSTRAINT users_profissional_email_key UNIQUE (email);


--
-- Name: users_profissional_groups users_profissional_group_profissional_id_group_id_91cf42a0_uniq; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_profissional_groups
    ADD CONSTRAINT users_profissional_group_profissional_id_group_id_91cf42a0_uniq UNIQUE (profissional_id, group_id);


--
-- Name: users_profissional_groups users_profissional_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_profissional_groups
    ADD CONSTRAINT users_profissional_groups_pkey PRIMARY KEY (id);


--
-- Name: users_profissional users_profissional_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_profissional
    ADD CONSTRAINT users_profissional_pkey PRIMARY KEY (id);


--
-- Name: users_profissional_user_permissions users_profissional_user__profissional_id_permissi_f2728029_uniq; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_profissional_user_permissions
    ADD CONSTRAINT users_profissional_user__profissional_id_permissi_f2728029_uniq UNIQUE (profissional_id, permission_id);


--
-- Name: users_profissional_user_permissions users_profissional_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_profissional_user_permissions
    ADD CONSTRAINT users_profissional_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: agenda_agendamento_paciente_id_a77b8251; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX agenda_agendamento_paciente_id_a77b8251 ON public.agenda_agendamento USING btree (paciente_id);


--
-- Name: agenda_agendamento_profissional_id_dea719cf; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX agenda_agendamento_profissional_id_dea719cf ON public.agenda_agendamento USING btree (profissional_id);


--
-- Name: agenda_agendamento_servico_id_1ff212eb; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX agenda_agendamento_servico_id_1ff212eb ON public.agenda_agendamento USING btree (servico_id);


--
-- Name: agenda_excecaohorario_profissional_id_0a9d59ac; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX agenda_excecaohorario_profissional_id_0a9d59ac ON public.agenda_excecaohorario USING btree (profissional_id);


--
-- Name: agenda_horariotrabalho_profissional_id_bbfa8a71; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX agenda_horariotrabalho_profissional_id_bbfa8a71 ON public.agenda_horariotrabalho USING btree (profissional_id);


--
-- Name: agenda_logmensagemia_assinatura_id_9f22c369; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX agenda_logmensagemia_assinatura_id_9f22c369 ON public.agenda_logmensagemia USING btree (assinatura_id);


--
-- Name: agenda_logmensagemia_sid_twilio_6abd312b_like; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX agenda_logmensagemia_sid_twilio_6abd312b_like ON public.agenda_logmensagemia USING btree (sid_twilio varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: documentos_documento_paciente_id_e120031e; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX documentos_documento_paciente_id_e120031e ON public.documentos_documento USING btree (paciente_id);


--
-- Name: documentos_documento_profissional_id_35dc6473; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX documentos_documento_profissional_id_35dc6473 ON public.documentos_documento USING btree (profissional_id);


--
-- Name: financas_servico_profissional_id_42f14501; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX financas_servico_profissional_id_42f14501 ON public.financas_servico USING btree (profissional_id);


--
-- Name: financas_transacao_agendamento_id_ab6dfff8; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX financas_transacao_agendamento_id_ab6dfff8 ON public.financas_transacao USING btree (agendamento_id);


--
-- Name: financas_transacao_paciente_id_8f2d1cac; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX financas_transacao_paciente_id_8f2d1cac ON public.financas_transacao USING btree (paciente_id);


--
-- Name: financas_transacao_profissional_id_189bbc05; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX financas_transacao_profissional_id_189bbc05 ON public.financas_transacao USING btree (profissional_id);


--
-- Name: financas_transacao_servico_prestado_id_6eafab39; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX financas_transacao_servico_prestado_id_6eafab39 ON public.financas_transacao USING btree (servico_prestado_id);


--
-- Name: prontuario_entradaprontuario_paciente_id_3a74500f; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX prontuario_entradaprontuario_paciente_id_3a74500f ON public.prontuario_entradaprontuario USING btree (paciente_id);


--
-- Name: prontuario_entradaprontuario_profissional_id_fb41903e; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX prontuario_entradaprontuario_profissional_id_fb41903e ON public.prontuario_entradaprontuario USING btree (profissional_id);


--
-- Name: users_assinatura_plano_id_686e3724; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX users_assinatura_plano_id_686e3724 ON public.users_assinatura USING btree (plano_id);


--
-- Name: users_paciente_cadastrado_por_id_3a7b3a85; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX users_paciente_cadastrado_por_id_3a7b3a85 ON public.users_paciente USING btree (cadastrado_por_id);


--
-- Name: users_paciente_cpf_d4612308_like; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX users_paciente_cpf_d4612308_like ON public.users_paciente USING btree (cpf varchar_pattern_ops);


--
-- Name: users_plano_nome_fb1a8869_like; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX users_plano_nome_fb1a8869_like ON public.users_plano USING btree (nome varchar_pattern_ops);


--
-- Name: users_profissional_email_7c5e1d59_like; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX users_profissional_email_7c5e1d59_like ON public.users_profissional USING btree (email varchar_pattern_ops);


--
-- Name: users_profissional_groups_group_id_4bf582e7; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX users_profissional_groups_group_id_4bf582e7 ON public.users_profissional_groups USING btree (group_id);


--
-- Name: users_profissional_groups_profissional_id_39dd3663; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX users_profissional_groups_profissional_id_39dd3663 ON public.users_profissional_groups USING btree (profissional_id);


--
-- Name: users_profissional_user_permissions_permission_id_50937900; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX users_profissional_user_permissions_permission_id_50937900 ON public.users_profissional_user_permissions USING btree (permission_id);


--
-- Name: users_profissional_user_permissions_profissional_id_cca75480; Type: INDEX; Schema: public; Owner: atma_user
--

CREATE INDEX users_profissional_user_permissions_profissional_id_cca75480 ON public.users_profissional_user_permissions USING btree (profissional_id);


--
-- Name: agenda_agendamento agenda_agendamento_paciente_id_a77b8251_fk_users_paciente_id; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.agenda_agendamento
    ADD CONSTRAINT agenda_agendamento_paciente_id_a77b8251_fk_users_paciente_id FOREIGN KEY (paciente_id) REFERENCES public.users_paciente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: agenda_agendamento agenda_agendamento_profissional_id_dea719cf_fk_users_pro; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.agenda_agendamento
    ADD CONSTRAINT agenda_agendamento_profissional_id_dea719cf_fk_users_pro FOREIGN KEY (profissional_id) REFERENCES public.users_profissional(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: agenda_agendamento agenda_agendamento_servico_id_1ff212eb_fk_financas_servico_id; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.agenda_agendamento
    ADD CONSTRAINT agenda_agendamento_servico_id_1ff212eb_fk_financas_servico_id FOREIGN KEY (servico_id) REFERENCES public.financas_servico(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: agenda_excecaohorario agenda_excecaohorari_profissional_id_0a9d59ac_fk_users_pro; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.agenda_excecaohorario
    ADD CONSTRAINT agenda_excecaohorari_profissional_id_0a9d59ac_fk_users_pro FOREIGN KEY (profissional_id) REFERENCES public.users_profissional(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: agenda_horariotrabalho agenda_horariotrabal_profissional_id_bbfa8a71_fk_users_pro; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.agenda_horariotrabalho
    ADD CONSTRAINT agenda_horariotrabal_profissional_id_bbfa8a71_fk_users_pro FOREIGN KEY (profissional_id) REFERENCES public.users_profissional(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: agenda_logmensagemia agenda_logmensagemia_assinatura_id_9f22c369_fk_users_ass; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.agenda_logmensagemia
    ADD CONSTRAINT agenda_logmensagemia_assinatura_id_9f22c369_fk_users_ass FOREIGN KEY (assinatura_id) REFERENCES public.users_assinatura(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_profissional_id; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_profissional_id FOREIGN KEY (user_id) REFERENCES public.users_profissional(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: documentos_documento documentos_documento_paciente_id_e120031e_fk_users_paciente_id; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.documentos_documento
    ADD CONSTRAINT documentos_documento_paciente_id_e120031e_fk_users_paciente_id FOREIGN KEY (paciente_id) REFERENCES public.users_paciente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: documentos_documento documentos_documento_profissional_id_35dc6473_fk_users_pro; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.documentos_documento
    ADD CONSTRAINT documentos_documento_profissional_id_35dc6473_fk_users_pro FOREIGN KEY (profissional_id) REFERENCES public.users_profissional(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: financas_servico financas_servico_profissional_id_42f14501_fk_users_pro; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.financas_servico
    ADD CONSTRAINT financas_servico_profissional_id_42f14501_fk_users_pro FOREIGN KEY (profissional_id) REFERENCES public.users_profissional(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: financas_transacao financas_transacao_agendamento_id_ab6dfff8_fk_agenda_ag; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.financas_transacao
    ADD CONSTRAINT financas_transacao_agendamento_id_ab6dfff8_fk_agenda_ag FOREIGN KEY (agendamento_id) REFERENCES public.agenda_agendamento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: financas_transacao financas_transacao_paciente_id_8f2d1cac_fk_users_paciente_id; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.financas_transacao
    ADD CONSTRAINT financas_transacao_paciente_id_8f2d1cac_fk_users_paciente_id FOREIGN KEY (paciente_id) REFERENCES public.users_paciente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: financas_transacao financas_transacao_profissional_id_189bbc05_fk_users_pro; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.financas_transacao
    ADD CONSTRAINT financas_transacao_profissional_id_189bbc05_fk_users_pro FOREIGN KEY (profissional_id) REFERENCES public.users_profissional(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: financas_transacao financas_transacao_servico_prestado_id_6eafab39_fk_financas_; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.financas_transacao
    ADD CONSTRAINT financas_transacao_servico_prestado_id_6eafab39_fk_financas_ FOREIGN KEY (servico_prestado_id) REFERENCES public.financas_servico(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: prontuario_entradaprontuario prontuario_entradapr_agendamento_associad_cbbe9c8a_fk_agenda_ag; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.prontuario_entradaprontuario
    ADD CONSTRAINT prontuario_entradapr_agendamento_associad_cbbe9c8a_fk_agenda_ag FOREIGN KEY (agendamento_associado_id) REFERENCES public.agenda_agendamento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: prontuario_entradaprontuario prontuario_entradapr_paciente_id_3a74500f_fk_users_pac; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.prontuario_entradaprontuario
    ADD CONSTRAINT prontuario_entradapr_paciente_id_3a74500f_fk_users_pac FOREIGN KEY (paciente_id) REFERENCES public.users_paciente(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: prontuario_entradaprontuario prontuario_entradapr_profissional_id_fb41903e_fk_users_pro; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.prontuario_entradaprontuario
    ADD CONSTRAINT prontuario_entradapr_profissional_id_fb41903e_fk_users_pro FOREIGN KEY (profissional_id) REFERENCES public.users_profissional(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_assinatura users_assinatura_plano_id_686e3724_fk_users_plano_id; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_assinatura
    ADD CONSTRAINT users_assinatura_plano_id_686e3724_fk_users_plano_id FOREIGN KEY (plano_id) REFERENCES public.users_plano(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_assinatura users_assinatura_profissional_id_ae6105c1_fk_users_pro; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_assinatura
    ADD CONSTRAINT users_assinatura_profissional_id_ae6105c1_fk_users_pro FOREIGN KEY (profissional_id) REFERENCES public.users_profissional(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_paciente users_paciente_cadastrado_por_id_3a7b3a85_fk_users_pro; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_paciente
    ADD CONSTRAINT users_paciente_cadastrado_por_id_3a7b3a85_fk_users_pro FOREIGN KEY (cadastrado_por_id) REFERENCES public.users_profissional(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_profissional_groups users_profissional_g_profissional_id_39dd3663_fk_users_pro; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_profissional_groups
    ADD CONSTRAINT users_profissional_g_profissional_id_39dd3663_fk_users_pro FOREIGN KEY (profissional_id) REFERENCES public.users_profissional(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_profissional_groups users_profissional_groups_group_id_4bf582e7_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_profissional_groups
    ADD CONSTRAINT users_profissional_groups_group_id_4bf582e7_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_profissional_user_permissions users_profissional_u_permission_id_50937900_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_profissional_user_permissions
    ADD CONSTRAINT users_profissional_u_permission_id_50937900_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_profissional_user_permissions users_profissional_u_profissional_id_cca75480_fk_users_pro; Type: FK CONSTRAINT; Schema: public; Owner: atma_user
--

ALTER TABLE ONLY public.users_profissional_user_permissions
    ADD CONSTRAINT users_profissional_u_profissional_id_cca75480_fk_users_pro FOREIGN KEY (profissional_id) REFERENCES public.users_profissional(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict PyPcntUWiaELc0J0pz0jgc716d2nhDB8LqPaZIO0GdVThYIQfJy1mbekFV01pFu

